<div class="main">
	<div class="main-content">

		<div class="pageheader">
			<div class="pageheader-media">
				<figure>
					<img src="/etc/designs/bootcamp-assignments/clientlib/images/lazyload.png" data-src="/etc/designs/bootcamp-assignments/clientlib/images/img6.jpg" alt="" class="lazy" />
					<noscript>
						<img src="/etc/designs/bootcamp-assignments/clientlib/images/img6.jpg" alt="" />
					</noscript>
				</figure>
			</div>
			<div class="pageheader-content cf">
				<h2 class="page-title">${currentPage.parent.properties.subtitle || currentPage.parent.title @ context='html'}</h2>
			</div>
		</div>

		<div class="titleblock-box primary-color">
			<div class="container-fluid">
				<div class="row">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1600 290" preserveAspectRatio="xMidYMin slice" xml:space="preserve">
                        <path d="M1597.5,289C799.5,0.1-0.7-0.3-0.7-0.3L-0.5,290h1600C1599.5,290,1602,290.6,1597.5,289z" />
                    </svg>
					<div class="titleblock cf">
						<div class="titleblock__content">
							<h2>AEM Bootcamp Homepage</h2>
							<p>This is an example page for the Bootcamp Assignments based on the corporate AMPLEXOR website structure</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row layoutcontainer">
				<div class="col-sm-8 col-md-9">

					<div class="spacer"><!-- TODO remove spacers-->&nbsp;</div>

					<!-- TODO: make a component for the focus block -->
					<sly data-sly-include="dummy-focus-block.html"></sly>

					<div class="spacer"><!-- TODO remove spacers-->&nbsp;</div>

					<!-- TODO: make a component for the carousel -->
					<sly data-sly-include="dummy-carousel.html"></sly>

					<div data-sly-resource="${'parsys'@ resourceType='foundation/components/parsys'}"></div>

				</div>
				<div class="col-sm-4 col-md-3 sidebar">

					<div data-sly-resource="${'rightcol'@ resourceType='foundation/components/iparsys'}"></div>

					<!-- TODO: make a component for the RSS feed -->
					<sly data-sly-include="dummy-rss.html"></sly>

				</div>
			</div>
		</div>

	</div>
</div>