<div class="section focus-block">

    <div class="imgblock-col subtitle secondary-color large-margin">
        <div class="centered">

            <!-- TODO use the existing title component -->
            <div class="section title">
                <div class="has-arches secondary-color  heading">
                    <h5>
                        Focus Block Title
                    </h5>
                </div>
            </div>

            <div class="parbase section text">
                <p>This is some focus block text</p>
            </div>

            <!-- TODO create a component for the button? -->
            <div class="button section">
                <div class="buttonwrapper center">
                    <a href="#" class="btn">
                        Read more
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>