<ul class="insights">
    <li>
        <h4>We help our customers to achieve high levelsof profitability</h4>
        <p>We help our customers to achieve levels of profitability and efficiency...</p>

        <!-- TODO create a component for the button? -->
        <a class="btn-bordered" href="#">Learn more</a>
    </li>
    <li>
        <h4>We help our customers to achieve high levelsof profitability</h4>
        <p>We help our customers to achieve levels of profitability and efficiency...</p>

        <!-- TODO create a component for the button? -->
        <a class="btn-bordered" href="#">Learn more</a>
    </li>
    <li>
        <h4>We help our customers to achieve high levelsof profitability</h4>
        <p>We help our customers to achieve levels of profitability and efficiency...</p>

        <!-- TODO create a component for the button? -->
        <a class="btn-bordered" href="#">Learn more</a>
    </li>
</ul>