<?xml version="1.0" encoding="UTF-8"?>

<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1">
    
    <jsp:directive.page trimDirectiveWhitespaces="true"/>
    
    <jsp:directive.include file="/libs/foundation/global.jsp"/>

</jsp:root>