<div class="service-menu js-is-closed" aria-hidden="true">
    <nav data-sly-use.navModel="com.amplexor.bootcamp.assignments.services.model.navigation.PrimaryNavigation">
        <ul class="main-menu__list" data-sly-list.navitem="${navModel.getNavigation}">

            <li data-sly-test="${navitem.NavigationActive}" class="active">
                <a href="${ navitem.path @ extension='html' || '#'}">${navitem.title}</a>
            </li>

            <li data-sly-test="${!navitem.NavigationActive}">
                <a href="${ navitem.path @ extension='html' || '#'}">${navitem.title}</a>
            </li>
        </ul>
    </nav>
</div>