<header>
    <div class="site-navigation">
        <div class="main-navigation">
            <div class="site-logo">
                <a title="Amplexor" href="#">
                    <figure>
                        <img src="/etc/designs/bootcamp-assignments/clientlib/images/lazyload.png" data-src="../../etc/designs/bootcamp-assignments/clientlib/images/lazyload.png" alt="" class="lazy" />
                        <noscript>
                            <img src="/etc/designs/bootcamp-assignments/clientlib/images/Amplexor-logo.png" alt="" />
                        </noscript>
                    </figure>
                </a>
            </div>
            <div class="language-box mobile-only">
                <a class="language-trigger" href="#" aria-expanded="false">English</a>
                <div class="language-selection js-is-closed" aria-hidden="true">
                    <ul class="language-list">
                        <li><a href="#">Français</a>
                        </li>
                        <li><a href="#">Nederlands</a>
                        </li>
                        <li><a href="#">Espagnol</a>
                        </li>
                        <li><a href="#">Deutsch</a>
                        </li>
                    </ul>
                    <button class="sr-close-btn sr-only" aria-expanded="false">Close Language selection</button>
                </div>
            </div>
            <div class="site-search-box mobile-only">
                <a class="site-search-trigger js-is-closed" aria-expanded="false" title="Search" href="#"><span class="sr-only">Search</span></a>
                <div class="site-search js-is-closed" aria-hidden="true">
                    <form>
                        <input type="text" placeholder="Search" />
                        <button class="site-search-submit" type="submit"></button>
                    </form>
                    <button class="sr-close-btn sr-only" aria-controls="site-search" aria-expanded="false">Close Language selection</button>
                </div>
            </div>
            <div class="mobile-main-menu">
                <button class="main-menu-trigger" aria-expanded="false" aria-controls="offerings-menu">
                </button>
            </div>
            <div class="offerings-menu js-is-closed" aria-hidden="true">
                <nav>
                    <ul>
                        <li><a href="#">News</a>
                        </li>
                        <li><a href="#">Events</a>
                        </li>
                        <li><a href="#">Jobs</a>
                        </li>
                        <li><a href="#">Blogs</a>
                        </li>
                        <li><a href="#">Contact</a>
                        </li>
                    </ul>
                    <button class="sr-close-btn sr-only" aria-expanded="false" aria-controls="offerings-menu">Close Main Menu</button>
                </nav>
            </div>
            <div class="language-box desktop-only">
                <a class="language-trigger" href="#" aria-expanded="false">English</a>
                <div class="language-selection js-is-closed" aria-hidden="true">
                    <ul class="language-list">
                        <li><a href="#">Français</a>
                        </li>
                        <li><a href="#">Nederlands</a>
                        </li>
                        <li><a href="#">Espagnol</a>
                        </li>
                        <li><a href="#">Deutsch</a>
                        </li>
                    </ul>
                    <button class="sr-close-btn sr-only" aria-expanded="false">Close Language selection</button>
                </div>
            </div>
            <sly data-sly-resource="${'primaryNavigation' @ resourceType='bootcamp-assignments/components/navigation/primary'}"/>
            <div class="site-search-box desktop-only">
                <a class="site-search-trigger js-is-closed" aria-expanded="false" title="Search" href="#"><span class="sr-only">Search</span></a>
                <div class="site-search js-is-closed" aria-hidden="true">
                    <form>
                        <input type="text" placeholder="Search" />
                        <button class="site-search-submit" type="submit"></button>
                    </form>
                    <button class="sr-close-btn sr-only" aria-controls="site-search" aria-expanded="false">Close Language selection</button>
                </div>
            </div>
        </div>
    </div>
</header>