<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<a href="#"><h4>Who we are</h4></a>
				<nav>
					<ul class="footer-navigation">
						<li><a href="#">Our Vision</a>
						</li>
						<li><a href="#">Our Values</a>
						</li>
						<li><a href="#">History</a>
						</li>
						<li><a href="#">Partners</a>
						</li>
						<li><a href="#">Leadership</a>
						</li>
						<li><a href="#">News &amp; Press</a>
						</li>
						<li><a href="#">Events &amp; Webinars</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-3">
				<a href="#"><h4>Our solutions</h4></a>
				<nav>
					<ul class="footer-navigation">
						<li><a href="#">Digital operational excellence</a>
						</li>
						<li><a href="#">Management global content</a>
						</li>
						<li><a href="#">Digital Experience Management</a>
						</li>
						<li>
							<a href="#"></a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-3">
				<a href="#"><h4>Our customers</h4></a>
				<nav>
					<ul class="footer-navigation">
						<li><a href="#">Europe</a>
						</li>
						<li><a href="#">North America</a>
						</li>
						<li><a href="#">South America</a>
						</li>
						<li><a href="#">Asia</a>
						</li>
						<li><a href="#">Africa</a>
						</li>
						<li><a href="#">Australia</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-3">
				<a href="#"><h4>Industry</h4></a>
				<nav>
					<ul class="footer-navigation">
						<li><a href="#">Lifesciences</a>
						</li>
						<li><a href="#">Manufacturing</a>
						</li>
						<li><a href="#">Public sector</a>
						</li>
						<li><a href="#">Finance</a>
						</li>
						<li><a href="#">Aero</a>
						</li>
						<li><a href="#">Automotive and Defense</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="share">
					<ul class="share-list">
						<li class="linkedin">
							<a href="#"><span class="sr-only">LinkedIn</span></a>
						</li>
						<li class="facebook">
							<a href="#"><span class="sr-only">Facebook</span></a>
						</li>
						<li class="twitter">
							<a href="#"><span class="sr-only">twitter</span></a>
						</li>
						<li class="instagram">
							<a href="#"><span class="sr-only">instagram</span></a>
						</li>
						<li class="pinterest">
							<a href="#"><span class="sr-only">Pinterest</span></a>
						</li>
					</ul>
					<p class="copyright">© 2015 Amplexor. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</div>
</footer>