    <meta http-equiv="content-type" content="text/html; charset=UTF-8"
          data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">

    <title>${pageProperties.pageTitle || currentPage.title @ context = 'unsafe'} - AMPLEXOR</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="${head.keywords}"/>
    <meta name="description" content="${properties.jcr:description}"/>

    <sly data-sly-include="author.html"></sly>

    <sly data-sly-call="${clientLib.all @ categories='amplexor.bootcamp.page'}"/>

    <link rel="stylesheet" href="/etc/designs/bootcamp-assignments/clientlib/css/style-components-1.css">
    <link rel="stylesheet" href="/etc/designs/bootcamp-assignments/clientlib/css/style-components-2.css">
    <!--[if lt IE 9]> <link rel='stylesheet' href='/etc/designs/bootcamp-assignments/clientlib/css/old-ie.css'> <![endif]-->