/* error handling css */
.bs-callout {
    padding: 20px;
    margin: 20px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #CE4844;
}
.bs-callout-danger h4 {
    border-left-color: #CE4844;
}
.bs-callout-warning {
    border-left-color: #AA6708;
}
.bs-callout-warning h4 {
    color: #AA6708;
}
.bs-callout-info {
    border-left-color: #1B809E;
}
.bs-callout-info h4{
    border-left-color: #1B809E;
}

.button {
  display: inline-block;
}

.row.tertiary-color {
    background: url("../images/arches.png") repeat #50276e;
}

.slide-content small {
    font-size: 1.666667em;
}

.heading.text-center {
  text-align: center;
}

.heading.text-left {
  text-align: left;
}

.heading.has-arches.text-left::before, .heading.has-big-arches.text-left::before, 
.heading.has-arches.text-left::after, .heading.has-big-arches.text-left::after {
  left:15%;
}

.uppercase {
  text-transform:uppercase;
}

.focus-block [class*="-left"] .title {
  text-align: left;
}
.focus-block .centered .title {
  text-align: center;
}
.focus-block [class*="-right"] .title {
  text-align: right;
}

.focus-block .centered .button{
    margin: 0px auto;

}

.header-slide img {
  display: block;
  min-width: 100%;
  max-width: none;
  position: absolute;
  left: 0;
  min-height: 100%;
  z-index: -1;
}

.aem-edit-mode .carousel-one-box {
  margin-top:0;
}

.aem-edit-mode .contacts-svg-rhs {
  display: none;
}

.aem-edit-mode .carousel-one__content .owl-controls {
  top:20px;
  left:20px;
}

.aem-edit-mode .subtitle-media {
  margin-top:0;
}

.subtitle.imgblock {
  background-repeat:no-repeat; 
  background-size:none; 
    background-position:0 top;
}

.subtitle.imgblock.tertiary-color {
  background:#50276e url("../images/arches.png") repeat scroll 0 0 !important;
}

.companieslist-info img {
  opacity: 1;
}

.companieslist-info .btn {
  color: white;
  padding: 10px 30px;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  background: none;
}

.copyright {
  padding-bottom:50px;
}        

.copyright a { 
  color:#fff;
}
.copyright ul {
  display:inline;
}

.copyright .copyrighttext {
  margin-right:10px;
}            

.copyright .item a {
  border-left: 1px solid #fff;
  padding-left:10px;     
  padding-right: 10px;            
}

.customer {
  background-color:#eee;          
  padding:20px;        
}

.editblock {
  padding:20px;
  border:1px solid #aaa;
}

.solution .row .row {
margin-left:0;
margin-right:0;
}

.solution .imgblock .image img {
  display:inline-block;
    margin:20px 0;
}

.solution.module .pageheader {
  height:auto;
}


.button.section {
  width:100%;
    display:iline-block;

}        

.button.section .center {
  text-align:center;
}

.button.section .right {
  text-align:right;
}


.button.section .left {
  text-align:left;
}


.aem-edit-mode .textimage {
  display:inline-block;
    width:100%;
}


@media (min-width: 767px) {
  .extra-space-during-edit {
      margin-top:550px;
  }
}
@media (max-width: 767px) {
  .extra-space-during-edit {
      margin-top:0px;
  }
}

.textimage {
  text-align:left;
    margin-bottom: 0px;
}

.solution .textimage {
  margin-bottom: 30px;
}

.header-carousel .owl-controls {
  text-align:right !important;
  padding-right:40px;            
}


body .titleblock h1, body .titleblock h2, body .titleblock h3, body .titleblock h4 {
    text-transform: none;
}


.oursolutions .oursolutions__solutiontitle {
  text-transform: none;
}


.titleblock__content .heading.has-big-arches {
  margin-bottom:0px !important;
}

.rssBlockContainer {
  color: #44364e;
}

.titleblock__content .section.title + .section, 
.titleblock__content .heading + .section {
  margin-top:40px !important;
}

.rssListItem
{
  margin-bottom: 10px;
}

.rssListItemHeader {
  font-size: 125%; 
  font-weight: bold;
}

.rssListItemSubheader {
  font-size: 90%; 
  margin-bottom: -7px;
}

.secondary-color .rssListItemSubheader p {
  color: #50276e;
}

.secondary-color .rssListItemHeader {
  color: #FFF;
}

.sidebar .rssListItemHeader{
  color: #FFF;
}

.teaserstyle {
    margin: 10px;
}

.homepage .titleblock-box {
  z-index:2;
}

.inthepicture {
  margin: 10px; 
    margin-top: 27px; 
}

.inthepicture .teaser-img {
  max-height:300px;
  overflow:hidden;                
}

.inthepicture .teaser-img img {
  margin: 0 auto; 
  max-width: 100%; 
  margin-bottom:20px;
}

.contentfield p, .text p {
  margin-bottom: 0px !important;
}

.solution.gc .rightcol a {
  color:#50276e !important;
}

.titleblock__content .textimage {

    padding-bottom:40px;
}

.titleblock__content .textimage .text p {
  font-size:1em;
    font-family:"franklin gothic book",arial,sans-serif;
}

body .tablenavigation {
  padding-bottom:0px;
}

.modulethumbnail {
  width:120px;
    height:120px;
}

.solution .page-title {
  color:#ffffff !important;
}

.homepage .carousel-one .slide-content .title {
  text-align:right !important;
}

.oursolutions .oursolutions__column--theme-1 .oursolutions__solution:hover, .oursolutions .oursolutions__column--theme-1 .oursolutions__solution--important:hover, .oursolutions .oursolutions__column--theme-1 .oursolutions__solution:active, .oursolutions .oursolutions__column--theme-1 .oursolutions__solution--important:active, .oursolutions .oursolutions__column--theme-1 .oursolutions__solution.oursolutions--active, .oursolutions .oursolutions__column--theme-1 .oursolutions--active.oursolutions__solution--important {
  background-color:rgba(177, 226, 234, 0.9) !important;
}

.insight .rssHeadlines li {
  height:230px;
}

.oursolutions .oursolutions__filter__item::before, .oursolutions .oursolutions__filter__item--icon-0::before, .oursolutions .oursolutions__filter__item--icon-1::before, .oursolutions .oursolutions__filter__item--icon-2::before, .oursolutions .oursolutions__filter__item--icon-3::before, .oursolutions .oursolutions__filter__item--icon-4::before, .oursolutions .oursolutions__filter__item--icon-5::before, .oursolutions .oursolutions__filter__item--icon-6::before {
  height:62px !important;
}