* {
  zoom: 1 !important;
}

.blocknavigation .heading {
  margin: 90px 0;
}
.blocknavigation li:hover .blocknavigation-media:after, .blocknavigation li:focus .blocknavigation-media:after, .blocknavigation li:active .blocknavigation-media:after, .blocknavigation li.active .blocknavigation-media:after {
  display: none;
}

.hs-form-checkbox-display {
  position: relative;
}
.hs-form-checkbox-display .hs-input {
  float: left;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  position: relative;
  top: 4px;
}
.hs-form-checkbox-display > span {
  margin-left: 10px;
}
