<div data-sly-attribute.class="${ titleModel.style } heading" data-sly-use.titleModel="com.amplexor.bootcamp.assignments.services.model.title.Title">
	<p data-sly-test.hasLink="${titleModel.href != ''}" data-sly-element="${titleModel.size}">
    	<a data-sly-attribute.href="${titleModel.href}">
        	${properties.titleText || titleModel.i18nTitleLabel @ i18n, context='html'}
        </a>
	</p>

	<p data-sly-test="${!hasLink}" data-sly-element="${titleModel.size}">
		${properties.titleText || titleModel.i18nTitleLabel @ i18n, context='html'}
	</p>

	<p data-sly-test="${titleModel.subtext || titleModel.i18nSubtitleLabel}" data-sly-element="${titleModel.subtitleSize}">
    	${properties.subtitleText || titleModel.i18nSubtitleLabel @ i18n, context='html'}
	</p>
</div>

